.bpw-bot-avatar {
    display: none;
}


/* Chat */
.bpw-chat-bubble-content {
    border-radius: 99999px;
    border: 0;
    background: #252b3d;
}

.bpw-keyboard-single-choice {
    border-top: 0;
    padding: 0;
}