

/* chat container */
.bpw-layout,
.bpw-chat-container,
.bpw-keyboard-single-choice {
    border: 0;
}
.bpw-msg-list-container {
    background: #1a1e2d;
}

.bpw-date-container {
    color: #fff;
    opacity: .25;
}

/* chat header */
.bpw-header-container {
    padding: 16px 12px;
    background: #1e2633;
    color: #fff;
}

.bpw-header-icon, .bpw-header-icon svg, .bpw-header-icon svg path {
    fill: #fff;
}

/* Chat container */
.bpw-message-container, .bpw-message-group {
    gap: 4px;
}

.bpw-bot-avatar {
    display: none;
}

/* Chat bubble */
.bpw-chat-bubble-content {
    border-radius: 99999px;
    border: 0;
}

.bpw-chat-bubble .bpw-chat-bubble-content {
    position: relative;
    font-weight: 300;
    padding: 8px 14px;
    font-size: 15px;
}

.bpw-chat-bubble .bpw-chat-bubble-content::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 19px;
    height: 17px;
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    background: #252b3d;
    color: #fff;
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content::after {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 0H3C3 3.08208 3.87145 5.96061 5.38139 8.40265C4.00641 10.9445 2.19466 13.3067 0 15.374C3.27641 16.4618 6.94548 16.4159 10.3805 14.9792C10.872 14.7736 11.3466 14.5446 11.8035 14.2941C13.9668 15.3854 16.4116 16 19 16V0Z' fill='%23252B3D'/%3E%3C/svg%3E%0A");
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    background: #4076e7;
    color: #fff;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content::after {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H16C16 3.08208 15.1286 5.96061 13.6186 8.40265C14.9936 10.9445 16.8053 13.3067 19 15.374C15.7236 16.4618 12.0545 16.4159 8.61947 14.9792C8.12799 14.7736 7.65342 14.5446 7.19651 14.2941C5.03322 15.3854 2.58838 16 0 16V0Z' fill='%234076E7'/%3E%3C/svg%3E%0A");
}


/* chat keyboard/ composer */
.bpw-composer {
    padding: 0;
    background: #1f2633;
}

.bpw-composer-inner {
    padding: 16px 12px;
    gap: 12px;
}

.bpw-composer textarea {
    background: #0f141d;
    color: #fff;
    height: 42px; 
    padding: 0.7rem 1rem;
    font-size: 15px;
    border-radius: 999999px;
}

.bpw-keyboard-single-choice {
    /* border-top: 0; */
    padding: 0;
}

.bpw-send-button {
    border: 0;
    height: 100%;
    border-radius: 100px;
    font-size: 12px;
    background: #417cde;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 22px;
    transition: all .2s ease;
}

.bpw-send-button:hover {
    background: #2b5aa5;
}