

/* chat container */
.bpw-msg-list-container {
    background: #1a1e2d;
}

.bpw-date-container {
    color: #fff;
}

/* Chat bubble */
.bpw-bot-avatar {
    display: none;
}

.bpw-chat-bubble-content {
    border-radius: 99999px;
    border: 0;
    background: #252b3d;
}

.bpw-keyboard-single-choice {
    border-top: 0;
    padding: 0;
}
