

/* chat container */
.bpw-layout,
.bpw-chat-container,
.bpw-keyboard-single-choice {
    border: 0;
}
.bpw-msg-list-container {
    background: #1a1e2d;
}

.bpw-date-container {
    color: #fff;
    opacity: .25;
}

/* Chat container */
.bpw-message-container, .bpw-message-group {
    gap: 4px;
}

.bpw-bot-avatar {
    display: none;
}

/* Chat bubble */
.bpw-chat-bubble-content {
    border-radius: 99999px;
    border: 0;
}

.bpw-chat-bubble .bpw-chat-bubble-content {
    position: relative;
    font-weight: 300;
    padding: 8px 14px;
    font-size: 15px;
}

.bpw-chat-bubble .bpw-chat-bubble-content::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 16px;
    height: 16px;
    background: red;
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    background: #252b3d;
    color: #fff;
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content::after {
    left: 0;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    background: #4076e7;
    color: #fff;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content::after {
    right: 0;
}


/* chat keyboard/ composer */
.bpw-composer {
    padding: 0;
    background: #1f2633;
}

.bpw-composer-inner {
    padding: 16px 12px;
    gap: 12px;
}

.bpw-composer textarea {
    background: #0f141d;
    color: #fff;
    height: 42px; 
    padding: 0.7rem 1rem;
    font-size: 15px;
    border-radius: 999999px;
}

.bpw-keyboard-single-choice {
    /* border-top: 0; */
    padding: 0;
}

.bpw-send-button {
    border: 0;
    height: 100%;
    border-radius: 100px;
    font-size: 15px;
    background: #417cde;
    color: #fff;
    cursor: pointer;
    padding: 0 22px;
    transition: all .2s ease;
}

.bpw-send-button:hover {
    background: #2b5aa5;
}